z-main.aux
z-main.bbl
z-main.bbl-SAVE-ERROR
z-main.bcf
z-main.fdb_latexmk
z-main.fls
z-main.log
z-main.out
z-main.run.xml
z-main.synctex.gz
z-main.glo
z-main.ist
z-main.lof
z-main.lot
z-main.toc
z-main.blg
z-main.loa
z-main.glg
z-main.gls
z-main.glsdefs